$custom-theme: (
  white-100: #ffffff,
  off-white: #e4f7ec,
  lav: #9f909c,
  slate: #75776c,
  stone: #5b5750,
  brown-100: #48483b,
);

:export {
  @each $key, $value in $custom-theme {
    #{unquote($key)}: $value;
  }
}
