@import "./color_scheme.module";

.Dashboard {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 4rem 0;
  padding: 0 3rem;
  flex-grow: 1;
  flex-direction: column;

  .Dashboard_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
    width: 100%;
    padding: 0;

    h4 {
      color: map-get($map: $custom-theme, $key: slate);
    }
    .Dashboard_row {
      display: flex;
      .Dashboard_recent_cases {
        flex-grow: 2;
        margin-bottom: 1.5rem;

        table {
          font-family: "Yrsa", serif;
          font-size: 1.2rem;
          th {
            color: map-get($map: $custom-theme, $key: lav);
          }
          td {
            color: map-get($map: $custom-theme, $key: stone);

            .status_rejected,
            .status_pending,
            .status_approved {
              font-size: 1rem;
              width: min-content;
              padding: 2px 4px;
              border-radius: 6px;
            }
            .status_rejected {
              background-color: #df9f9f;
              color: #700f0f;
            }
            .status_pending {
              background-color: #dfd99f;
              color: #867a13;
            }
            .status_approved {
              background-color: #9fdfaa;
              color: #0f701f;
            }
          }
        }
      }
    }
    .Dashboard_quick_actions {
      margin: 1rem 0;
      display: flex;
      flex-grow: 1;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;

      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
    }
  }
}
