.RegistrationCard {
  box-shadow: 0 0.5rem 8px rgba(0, 0, 0, 0.342);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: inherit;

  &:hover {
    box-shadow: 0.5rem 1rem 20px rgba(0, 0, 0, 0.137);
  }

  &:active {
    box-shadow: 0.5rem 0.5rem 10px rgba(0, 0, 0, 0.267);
  }
}
